@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroy/gilroylight.woff2') format('woff2'), url('../fonts/gilroy/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroy/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroy/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #FFFFFF;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-grey: #EBEBEB;
  --special-grey-dark: #D9D9D9;

  --opacity-grey: rgba(0, 0, 0, 0.6);
  --opacity-grey-light: rgba(0, 0, 0, 0.3);

  --incorrect-pink: #f6dada;
  --disabled-gray: #A6A6A6;
}
body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
  color: var(--basic-black);
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  display: none;
}
.logo:focus,
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.nav {
  background-color: var(--special-yellow-light);
}
.nav__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}
.nav__link:hover {
  opacity: 0.6;
}
.nav__link:focus {
  opacity: 0.3;
}
.search-form input {
  background-color: transparent;
  border: none;
}
.search-form input::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--opacity-grey-light);
}
.search-form input:hover::placeholder {
  color: var(--opacity-grey);
}
.search-form input:focus + button {
  display: initial;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--basic-black);
  outline: none;
  border-bottom: 2px solid #000000;
}
.nav__link_logout {
  opacity: 0.3;
}
.menu {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu__item:focus,
.menu__item:hover {
  opacity: 0.6;
}
.menu__item:active {
  opacity: 0.3;
}
.menu__item_catalog {
  letter-spacing: 0.1em;
}
.menu__item {
  list-style: none;
  display: inline;
}
.slider__list-item {
  list-style: none;
}
.header {
  font-size: 47px;
  line-height: 58px;
}
.slider__number {
  font-size: 179px;
  line-height: 219px;
}
.slider__description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.slider__button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.slider__button:hover {
  background-color: var(--special-yellow-dark);
}
.slider__button:active {
  color: var(--opacity-grey-light);
}
.slider__features {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.slider__features-description {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}
.catalog-links__list-item {
  list-style: none;
  display: inline-block;
}
.services-slider__list-item {
  list-style: none;
}
.services-slider__header {
  letter-spacing: 0.2em;
}
.services-slider__description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.services-slider__controls-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.services-slider__controls-button:hover {
  background-color: var(--special-yellow-dark);
}
.services-slider__controls-button:active {
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}
.manufacturers__list-item {
  list-style: none;
  display: inline-block;
}
.manufacturers__list-item_logo-1 {
  width: 260px;
  height: 100px;
  background-image: url('../img/logo-1.png');
}
.manufacturers__list-item_logo-2 {
  width: 260px;
  height: 100px;
  background-image: url('../img/logo-2.png');
}
.manufacturers__list-item_logo-3 {
  width: 260px;
  height: 100px;
  background-image: url('../img/logo-3.png');
}
.manufacturers__list-item_logo-4 {
  width: 260px;
  height: 100px;
  background-image: url('../img/logo-4.png');
}
.nav-catalog {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  opacity: 0.3;
}
.nav-catalog__link {
  list-style: none;
  display: inline;
}
.nav-catalog__link:focus,
.nav-catalog__link:hover {
  opacity: 0.6;
}
.nav-catalog__link:active {
  opacity: 0.1;
}
.filter {
  background-color: var(--basic-grey-light);
}
.filter li {
  list-style: none;
}
.filter__form_title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.filter__form_field {
  border: none;
}
.filter__form_header {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}
.filter__form_number {
  border: none;
  background: transparent;
}
.filter__form_label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.filter__form_checkbox,
.filter__form_radio {
  width: 24px;
  height: 24px;
}
.filter__form_checkbox:disabled + label,
.filter__form_radio:disabled + label {
  color: var(--disabled-gray);
  opacity: 0.25;
}
.filter__form_checkbox:hover,
.filter__form_checkbox:focus,
.filter__form_radio:hover,
.filter__form_radio:focus {
  opacity: 0.6;
}
.filter__form_radio:active:checked {
  opacity: 0.6;
}
.filter__form_option {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}
.filter__form_button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.sorting {
  background-color: var(--basic-grey-light);
}
.sorting__header {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sorting__list-item {
  list-style: none;
  display: inline-block;
}
.sorting__list-link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--opacity-grey-light);
}
.sorting__list-link:hover {
  color: var(--opacity-grey);
}
.sorting__list-link:active {
  color: var(--basic-black);
}
.sorting__list-link_current {
  color: var(--basic-black);
}
.item__list {
  list-style: none;
}
.item__list_name {
  letter-spacing: 0.05em;
}
.item__list_price {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.paginator {
  background-color: var(--special-grey);
}
.paginator__list-item {
  list-style: none;
  display: inline-block;
}
.paginator__list-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--opacity-grey-light);
}
.paginator__list-link:hover {
  color: var(--opacity-grey)
}
.paginator__list-link:active {
  color: var(--basic-black);
}
.paginator__list-link_current {
  color: var(--basic-black);
}
.paginator__list-link_button {
  color: var(--basic-black);
}
.paginator__list-link_button:hover {
  color: var(--basic-black);
  background-color: var(--special-grey-dark);
}
.paginator__list-link_button:active {
  color: var(--opacity-grey-light);
  background-color: var(--special-grey-dark);
}
.info-block__header {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.info-block__text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}
.info-block__button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.company-list__item {
  font-size: 16px;
  line-height: 28px;
}
.footer {
  background-color: var(--basic-dark);
}
.footer__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--basic-white);
}
.menu__item_footer {
  color: var(--basic-white);
}
.footer-contacts {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: var(--basic-white);
}
.socials__item {
  list-style: none;
  display: inline-block;
}
.socials__item:hover {
  opacity: 1;
}
.socials__item:active {
  opacity: 0.1;
}
.socials__item_facebook {
  width: 32px;
  height: 32px;
  background-image: url('../img/icon_facebook.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}
.socials__item_instagram {
  width: 32px;
  height: 32px;
  background-image: url('../img/icon_instagram.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}
.socials__item_twitter {
  width: 32px;
  height: 32px;
  background-image: url('../img/icon_twitter.svg');
  background-repeat: no-repeat;
  opacity: 0.3;
}
.copyright {
  display: inline-block;
  width: 27px;
  height: 34px;
  background-image: url('../img/logo-html.svg');
}
.copyright:hover {
  opacity: 0.6;
}
.copyright:active {
  opacity: 0.3;
}
